.hide {
    display: none;
}

.content {
    display: grid;
    justify-items: center;
    
    grid-template-columns: 30% 30% 30%;
}

.player {
    display: grid;
    
}

.player select {
    width: 4rem;
}

.game-display {
    display: grid;
    justify-self: center;
    justify-items: center;
    color: red;
}

.game-body {
    justify-self: center;
    grid-row: 2;
    grid-column: 2;
    background: black;
    box-shadow: inset 0 0 0 1px white;
}

#mid-row {
    margin-top: 4px;
    margin-bottom: 4px;
}

.tic-tac {
    width: 4rem;
    height: 4rem;
    background: white;
    border: none;
    margin: 1px;
    vertical-align: top;
}

